.life-video{
    display: none;
}

@media (min-width: 992px) {
    .life-video {
        display: block;
        background-color: black;
        color: lightgrey;
        text-transform: uppercase;
        padding-right: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        border: powderblue solid 5px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    aside ul dt{
        border-bottom: 10px double powderblue;
        color: lightgrey;
    }

    aside ul li{
        list-style: none;
        font-size: 15px;
        padding-top: 10px;
        border-bottom: 2px dotted powderblue;
        text-align: center;
    }

    aside a{
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:lightgray;
    }

    .container {
        display:flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    aside{
        width: 35%;
        margin-top: 60px;
      
    }
    .news{
        width: 65%;
        padding: 30px;
    }
    
}