
.container{
    background-color: whitesmoke;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.follow-us{
    background-color: whitesmoke;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.newsletter{
    background-color: whitesmoke;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

.follow-us ul li{
    list-style: none;
    display: inline;
}

.follow-us{
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-content: center;
}
